@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
    text-align: center;
}
.intro-image{
    background-attachment: fixed;
    background-image: url('../image/pexels-bianca-gasparoto-834990-1752806.jpg');
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
}
.intro-image_link a{
text-decoration: none;
display: inline-block;
border: 2px solid #355063;
border-radius: 50%;
font-size: 3rem;
text-transform: uppercase;
background-color: #35506342;
padding: 2rem;
color: #8396a4;
transition: all 0.5s ease-in-out;
}
.intro-image_link a:hover {
    transform: scale(1.1);
}
.intro-text{
    height: 200px;
    background-color: #7b737ac7;
    color: #ebd4b5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15rem;
}
.intro-text_textbox h3{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.quality-image{
    background-attachment: fixed;
    background-image: url('../image/pexels-nurseryart-373639.jpg');
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
}

.quality-image_link a{
text-decoration: none;
display: inline-block;
border: 2px solid #394c52;
border-radius: 50%;
font-size: 3rem;
text-transform: uppercase;
background-color:#394c5242;
padding: 2rem;
color: #171a16;
transition: all 0.5s ease-in-out;

}
.quality-image_link a:hover{
    transform: scale(1.1);
}
.quality-text{
    height: 200px;
    background-color: #3b525e;
    color: #dcc8bc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15rem;
}
.quality-text_textbox h3{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.stock-image{
    background-attachment: fixed;
    background-image: url('../image/pexels-juanpphotoandvideo-894695.jpg');
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
}
.stock-image_link a{
text-decoration: none;
display: inline-block;
border: 2px solid #dce3db;
border-radius: 50%;
font-size: 3rem;
text-transform: uppercase;
background-color:#dce3db42;
padding: 2rem;
color: #0b0b07;
transition: all 0.5s ease-in-out;
}
.stock-image_link a:hover{
    transform: scale(1.1); 
}
.stock-text{
    height: 200px;
    background-color: #c08044;
    color: #362c1c;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15rem;
}
.Stock-text_textbox h3{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.footer{
    height: 250px;
    background-color: #3d453f;
    color: #e9dbda;
    font-size: 2rem;
    padding-top: 2rem;
}
.footer li{
    display: inline-block;
    margin: 1rem;

}
.footer li a{
    color: #ddd9cf;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}
.footer li:hover{
    transform: scale(1.1); 
}
.footer li:hover a{
    color:white;
}
